{% extends "::base.html.twig" %}

{% block body %}
  <!-- error section -->
  <section id="aa-error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-error-area">
            <h2>{{ status_code }}</h2>
            <span>Désolé! Une erreur est survenue</span>
            <p>{{ status_text }}</p>
            <a href="{{ path("app_homepage") }}"> Rendez-vous à l'accueil !</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / 404 error section -->

  {% endblock %}
