{% extends "::base.html.twig" %}

{% block body %}
    <h2>AdminBundle - Home</h2>
<ul>
    <li><a href="{{ path('admin_panierValidate') }}">Voir tous les paniers validés</a></li>
    <li><a href="{{ path('admin_panierTreated') }}">Voir les paniers traités</a></li>
    <li><a href="{{ path('admin_panierBeeingTreated') }}">Voir les paniers en cours de traitement</a></li>
</ul>
{% endblock %}
