{% extends "UserBundle::layout.html.twig" %}

{%  block title_header %}Edition du mot de passe{% endblock %}

{%  block breadcrumb %}
    <li><a href="{{  path('user_account') }}">Mon Compte</a></li>
    <li class="active">Edition du mot de passe</li>
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="aa-browse-btn" type="submit" value="Enregistrer" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}
