{% extends "::base.html.twig" %}

{% block body %}
	<h2>AppBundle - Home <i class="fa fa-birthday-cake" aria-hidden="true"></i></h2>
	{% if app.user == null %}
		<p><a href="{{ path('fos_user_security_login') }}">Connexion</a></p>
		<p><a href="{{ path('fos_user_registration_register') }}">Inscription</a></p>
	{% else %}
		<p><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
	{% endif %}
{% endblock %}
