{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un produit{% endblock %}

{% block admin_content %}

    <div class="row">
        <h1>Ajouter un nouveau produit</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row text-center">
            <input class="aa-browse-btn" type="submit" value="Créer" />
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
