{% extends "::base.html.twig" %}

{% block body %}
	<h1>Hello World!</h1>
	{% if app.user == null %}
		<p><a href="{{ path('fos_user_security_login') }}">Connexion</a></p>
		<p><a href="{{ path('fos_user_registration_register') }}">Inscription</a></p>
	{% else %}
		<p><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></p>
	{% endif %}
{% endblock %}
